# 忽略 package-lock.json
package-lock.json

# 忽略 node_modules 目录
node_modules/

# 忽略缓存目录
.vitepress/cache/

# 忽略构建输出目录（不忽略 .vitepress/dist/，因为我们需要部署它）
# 如果您不希望将构建输出提交到仓库，则不需要修改

# 忽略日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db
